.DS_Store
.env
.redwood
.docker
.vscode
.git
.keep
.editor 
prettier.config.js
readme.md
Thumbs.db
dev.db*
dist
dist-babel
node_modules/
yarn-error.log
web/public/storybook
web/types/graphql.d.ts
api/types/graphql.d.ts
package-lock.json
